@import 'scss/vars.scss';

html{
    font-family: 'Roboto-regular';
}

body{
	background-color: #e0e0e0;
	margin: 0;
}

.content-canvas{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding-top: 74px;
}

