@import 'vars.scss'; 
@import './shadows.scss';


.todo{
	flex: 1 0 310px;
	align-content: flex-start;
	margin: 5px 5px;
	max-width: 620px;
	height: 100%;
	background-color: #fff;
	border-radius: 2px;

	@extend .mat-elevation-2dp;

	&:hover{
		@extend .mat-elevation-8dp;
	}
}

.todo-form{
	padding: 16px;
	line-height: 35px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}

.main-input{
	border: none;
	border-bottom: 1px solid $mainColor;

	& > label{
		opacity: .5;
	}
}

.add-item{
	order:5;
}

.clearAll{
	order: 4;
}

.input{
	position: relative;

	&:after {
		content: '';
		transform: scale(0);
		display: block;
		width: 100%;
		height: 2px;
		position: absolute;
		bottom: 0px;
		left: 0;
		background-color: $mainColor;
		transition: .2s ease;
	}

	& > input{
		height: 40px;
		width: 100%;
		box-sizing: border-box;
		font-size: 22px;
		outline: none;
	}
}

.wrap-title-input{
	flex: 1 0 250px;
	margin-bottom: 25px;
	margin-top: 10px;
}


.wrap-main-input{
	flex: 1 0 100%;
	margin-bottom: 25px;
}

.input-line{
	&:after{
		transform: scale(1);
	}
	color: $mainColor;
}

.title-label,
.main-input-label{
	display: block;
	position: absolute;
	top:0;
	left:0;
	font-size: 22px;
	opacity: .5;
	transition: .2s ease;
}

.label-move{
	top: -20px;
	font-size: 14px;
}

.title{
	text-align: center;
	border: none;
	border-bottom: 1px solid grey;
}


.delete-todo{
	width: 20px;
    height: 20px;
    line-height: 20px;
	font-size: 28px;
	text-align: center;
	margin-right: 5px;
	cursor: pointer;
	border-radius: 50%;
	transition: .2s ease;
	user-select: none;
}



